// .slider {
// 	position: relative;
// 	overflow: hidden;
// 	width: 100%;
// 	/* Adjust max-width as needed */
// 	margin: 0 auto;
// }

// .slides-container {
// 	display: flex;
// 	transition: transform 0.5s ease;
// 	width: 90%;
// }

// .slide {
// 	flex: 0 0 100%;
// }

// .prev-btn,
// .next-btn {
// 	position: absolute;
// 	top: 50%;
// 	transform: translateY(-50%);
// 	background-color: #333;
// 	color: #fff;
// 	border: none;
// 	padding: 10px 15px;
// 	cursor: pointer;
// }

// .prev-btn {
// 	left: 0;
// }

// .next-btn {
// 	right: 0;
// }

* {
	box-sizing: border-box
}

body {
	font-family: Verdana, sans-serif;
	margin: 0
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	background: #f1f1f1f1;
}

/* Slides */
.slide {
	padding: 80px;
	text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

/* The dot/bullet/indicator container */
.navigation-container {
	text-align: center;
	padding: 20px;
	background: #ddd;
}

/* The dots/bullets/indicators */
.navigation {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
	background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
	font-style: italic;
}

/* Add a blue color to the author */
.author {
	color: cornflowerblue;
}