.slideshow-container {
	position: relative;
	background-color: transparent;

	.slide {
		text-align: center;
		display: none;
		min-height: 400px;
		padding: 80px;

		&>* {
			z-index: 2;
			position: relative;
		}
	}

	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -30px;
		padding: 16px;
		color: #000000;
		user-select: none;

		&.next {
			right: 0;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
			color: white;
		}

		.dashicons,
		.dashicons-before:before {
			line-height: unset;
		}
	}

	.navigation-container {
		text-align: center;
		padding: 20px;

		.navigation {
			cursor: pointer;
			height: 8px;
			width: 8px;
			margin: 0 3px;
			background-color: #bbb;
			display: inline-block;
			transition: background-color 0.6s ease;
			border-radius: 100%;

			&.active {
				height: 8px;
				width: 25px;
				border-radius: 10px;
				background-color: #000000;
			}

			&:hover {
				background-color: #000000;
			}
		}
	}

	a:where(:not(.wp-element-button)) {
		text-decoration: none !important;
	}

	// Add white gradient overlay
	.slide {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.97);
			pointer-events: none;
		}
	}

	.readmore-btn {
		color: #ffffff;
		background-color: #000000;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		top: 40px;
		transition: color 0.3s, background-color 0.3s, border 0.3s;

		&:hover {
			color: #000000;
			background-color: #ffffff;
			border: 3px solid #000000
		}
	}

	.meta-data {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
	}

	.meta-data p,
	.meta-data .categories {
		margin-right: 10px;
	}

	.categories,
	.date,
	.author {
		display: flex;
		align-items: center;
	}

	.individual-categories {
		margin-right: 5px;
	}

	.meta-data span.dashicons {
		margin-right: 5px;
	}

	@media screen and (max-width: 768px) {
		.meta-data {
			flex-direction: column;
			text-align: center;

			p,
			.categories,
			.date,
			.author {
				margin-right: 0;
				margin-bottom: 5px;
			}
		}

		.categories,
		.date,
		.author {
			flex-wrap: wrap;
		}

		.slide {
			padding: 50px;
			padding-bottom: 80px;
		}
	}

	a:hover,
	h2:hover {
		text-decoration: underline;
	}
}