.slider-block {
	max-width: unset !important;
}

.slideshow-container {
	position: relative;
	background-color: transparent;

	.slide {
		padding: 80px;
		text-align: center;
		display: none;
		min-height: 400px;

		&>* {
			z-index: 2;
			position: relative;
		}
	}

	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -30px;
		padding: 16px;
		color: #888;
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		user-select: none;

		&.next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
			color: white;
		}
	}

	.navigation-container {
		text-align: center;
		padding: 20px;

		.navigation {
			cursor: pointer;
			height: 8px;
			width: 8px;
			margin: 0 3px;
			background-color: #bbb;
			display: inline-block;
			transition: background-color 0.6s ease;
			border-radius: 100%;

			&.active {
				height: 8px;
				width: 16px;
				border-radius: 40%;
			}

			&:hover {
				background-color: #000000;
			}
		}
	}

	a:where(:not(.wp-element-button)) {
		text-decoration: none !important;
	}

	// Add white gradient overlay
	.slide {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.9);
			pointer-events: none;
			// Allow clicks to go through the overlay
		}
	}
}